.App {
  text-align: center;
}

.heading{
  color: white;
}

.input{
  margin-left: 10px;
  width: 450px;
  height: 30px;
}

.but{
  color: white;
  height: 35px;
  text-align: center;
  background-color: rgb(25, 25, 244);
  border-radius: 10px;
  cursor: pointer;
}

.changes{
  display: flex;   
  position: relative;
  top: 35px;
  right: 420px;
}

.main{
  width: 800px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 235, 235);
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
}